body {
  background-color: #E4F9F5;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.265rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  font-weight: normal;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', serif;
}

a {
  color: #11999E;
}

.profile {
  margin-top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.web {
  text-decoration: underline;
}

.contact-me {
  margin-top: 50px;
}
