body {
  background-color: #E4F9F5;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', serif;
}

h2 {
  font-family: 'Montserrat', serif;
}

h3 {
  font-family: 'Montserrat', serif;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.web {
  text-decoration: underline;
}
