head {
  background-color: #EAF6F6;
}

body {
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.265rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  font-weight: bold;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', serif;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
  width: 10%;
}


.website-image {
  padding-right: 30px;
  float: left;
  width: 25%;
}

.design-image {
  padding-right: 30px;
  float: right;
  width: 25%;
}
.skill-row {
  text-align: left;
  line-height: 2;
  margin: 100px auto 100px auto;
  width: 50%;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  padding: 50px;
  background-color: #66BFBF;
  color: #11999E;
}

.web {
  text-decoration: underline;
}

.contact-me {
  margin-top: 50px;
}

.BUTTON_BJY {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', serif;
   font-size: 20px;
   font-weight: bold;
   padding: 15px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 100px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  margin-right: 25px;
  text-decoration: none;

}

.copyright {
  color: #EAF6F6;
}
